html{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;

}

.header, .footer{
    margin: 20px 7.5% 20px 7.5%;
    max-width: 85%;
    background-color: #1a1a1a;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}

body{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;
}

.content{
    margin-left: 7.5%;
    margin-right: 7.5%;
    max-width: 85%;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 15px 15px 15px 15px;
}

.list{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.film{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    text-align: center;
}

.modif{
    padding-bottom: 20px;
    padding-top: 15px;
}

.film__name{
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.film__poster{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content::-webkit-scrollbar
{
    width: 12px;
}

.content::-webkit-scrollbar-thumb
{
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: aliceblue;
}

.film__infos{
    display: flex;
    flex-direction: row;
    background-color: #0e0e0e;
    padding: 25px;
    border-radius: 25px;
}

.film__container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    font-size: 18px;
}

.film__container :first-child{
    display: flex;
}

.film__title{
    margin-left: 10px;
    display: flex;
    flex-grow: 3;
    margin-top: 25px;
}

.film__date{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.film__originalTitle{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.film__tagline{
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.film__overview{
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    text-align: left;
}


.actor{
    display: flex;
    background-color: #0e0e0e;
    margin: 20px;
    font-size: 18px;
    flex-direction: column;
    border-radius: 25px;
}

.actor__infos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 25px;
}



.actor__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    font-size: 18px;
}

.actor__image{
    margin: 10px;
}

.actor__name{
    display: flex;
    text-align: center;
    margin: 10px;
    background-color: black;
    border-radius: 25px;
    justify-content: flex-start;
    padding-left: 10px;
}

.actor__role{
    display: flex;
    text-align: center;
    margin: 10px;
    background-color: black;
    border-radius: 25px;
    justify-content: flex-start;
    padding-left: 10px;
}
h2{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.acteur__infos{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    background-color: #0e0e0e;
    padding: 25px;
    border-radius: 25px;
}
.acteur__image{
    margin: 10px;
}

.acteur__container{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow:1;
}

.acteur__name{
    margin-left: 10px;
    display: flex;
    flex-grow: 3;
    margin-top: 25px;
}

.acteur__lieu{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 10px;
}

.acteur__date{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    margin-left: 10px;
}

.acteur__biography{
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.acteur__film__title{
    margin-left: 10px;
    display: flex;
    flex-grow: 3;
    margin-top: 25px;
}

.acteur__film__date{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    flex-grow:1;
}

.acteur__role{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left:10px;
    margin-top: 25px;
}

.acteur__film__info{
    display: flex;
    margin-right: 10px;
}

.acteur__contenu{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    flex-grow: 1;
    justify-content: space-evenly;
}

img{
    border-radius: 25px;
}

.film__poster img{
    min-width: 240px;
    min-height: 360px;
}

a{
    display: flex;
    flex-grow: 1;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    text-decoration: none;
    color: cornflowerblue;
}

.navigation{
    display: flex;
}

.menu{
    display: flex;
    background: #0e0e0e;
    border-radius: 25px;
    margin: 20px;
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu a{
    display: flex;
    justify-content: space-evenly;
    font-size: 26px;
    text-decoration: underline;
}

.button__container{
    display: flex;
    justify-content: flex-end;
}

.delete__button{
    background-color: #000000;
    color: aliceblue;
    border: 2px solid #e5e5e6;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 12px;
    cursor: pointer;
}

.delete__button ::after{
    cursor: wait;
}

@media (width <= 775px) {
    .film__infos{
        display: flex;
        flex-direction: column;
    }

    .film__originalTitle{
        display: flex;
        justify-content: center;
    }
    .film__poster img{
        min-width: 180px;
        min-height: 300px;
    }

}

@media (width <= 550px){
    .film__poster img {
        width: 140px;
        height: 260px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        margin: 10px;
        flex-grow: 1;
    }
    .actor__container a{
        display: flex;
        flex-direction: column;
    }

    .actor__image{
        display: flex;
        justify-content: center;
    }

    .actor__image img{
        flex-grow: 1;
        max-width: 160px;
        max-height: 220px;
        aspect-ratio: 2/3;
    }
    .actor__name, .actor__role{
        justify-content: center;
    }

    .actor__infos{
        flex-wrap: nowrap;
    }

    .actor__content, .film__container{
        font-size: 16px;
    }
}

@media (width <= 360px) {
    .actor__container{
        display: flex;
        flex-direction: row;
    }
    .film__poster img{
        min-width: 100px;
        min-height: 220px;
    }

    html {
        min-width: 300px;
        min-height: 450px;
    }
    h1{
        padding-left: 15px;
        padding-right: 15px;
    }
    .film__container :first-child{
        display: flex;
        flex-direction: column;
    }
}