html{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;

}

body{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}

.content{
    margin-left: 7.5%;
    margin-right: 7.5%;
    max-width: 85%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    padding: 10px;
}

.list{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: center;
}

.film{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
}

.modif{
    padding-bottom: 5px;
    padding-top: 5px;
}

